/*
!README.md
!.gitignore
!.gitconfig
!.asoundrc
!.nanorc
!.zshrc

!/.config/
/.config/*
!/.config/btop/
!/.config/dunst/
!/.config/hypr/
!/.config/kitty/
!/.config/nemo/
!/.config/rofi/
!/.config/steamcommunity/
!/.config/waybar/
!/.config/wlogout/