* {
  font-family: "Maple Mono SC NF";
  font-size: 12pt;
  font-weight: bold;
  border-radius: 4px;
  transition-property: background-color;
  transition-duration: 0.5s;
}
@keyframes blink_red {
  to {
    background-color: rgb(242, 143, 173);
    color: rgb(26, 24, 38);
  }
}
.warning,
.critical,
.urgent {
  animation-name: blink_red;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
window#waybar {
  background-color: transparent;
}
window > box {
  margin-left: 2px;
  margin-right: 2px;
  margin-top: -4px;
  background-color: rgb(30, 30, 46);
}
#workspaces {
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 4px;
}
#workspaces button {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
}
#workspaces button.active {
  background-color: rgb(181, 232, 224);
  color: rgb(26, 24, 38);
}
#workspaces button.urgent {
  color: rgb(26, 24, 38);
}
#workspaces button:hover {
  background-color: rgb(248, 189, 150);
  color: rgb(26, 24, 38);
}
tooltip {
  background: rgb(48, 45, 65);
}
tooltip label {
  color: rgb(217, 224, 238);
}
#battery,
#memory {
  color: rgb(181, 232, 224);
  padding-right: 10px;
  padding-left: 10px;
  margin-top: 4px;
}
#cpu {
  color: rgb(245, 194, 231);
  padding-right: 10px;
  padding-left: 10px;
  margin-top: 4px;
}
#clock {
  color: rgb(217, 224, 238);
  margin-top: 4px;
}
#backlight {
  color: rgb(248, 189, 150);
  padding-right: 10px;
  padding-left: 10px;
  margin-top: 4px;
}
#pulseaudio {
  color: rgb(245, 224, 220);
  padding-right: 10px;
  padding-left: 10px;
  margin-top: 4px;
}
#network {
  color: #abe9b3;
  padding-right: 10px;
  padding-left: 10px;
  margin-top: 4px;
}
#network.disconnected {
  color: rgb(255, 255, 255);
}
#battery.charging,
#battery.full,
#battery.discharging {
  color: rgb(250, 227, 176);
}
#battery.critical:not(.charging) {
  color: rgb(242, 143, 173);
}
#tray {
  padding-right: 10px;
  padding-left: 10px;
  margin-top: 4px;
}
#custom-powermenu {
  padding-right: 10px;
  padding-left: 10px;
  margin-top: 4px;
  font-size: 16pt;
}
