* {
  font-family: "Maple Mono NF CN";
  font-weight: bold;
  font-size: 12px;
  border-radius: 5px;
  min-height: 0;
}

window#waybar,
tooltip {
  background: rgba(0, 0, 0, 0.5);
}

tooltip label,
#custom-power,
#workspaces,
#cpu,
#memory,
#gamemode,
#clock,
#pulseaudio,
#backlight,
#network,
#battery,
#tray {
  color: #a9b1d6;
  font-size: 16px;
  padding: 0 6px 0 6px;
  margin: 0 2px 0 2px;
}
#custom-power {
  margin-left: 10px;
}
#tray {
  margin-right: 10px;
}

#workspaces button {
  background: #1a1b26;
  color: #a9b1d6;
  margin: 4px 3px 4px 3px;
  transition: all 0.3s cubic-bezier(0, 0.55, 0.45, 1);
}
#workspaces button.active {
  background: #7aa2f7;
  color: #1a1b26;
  padding-left: 16px;
  padding-right: 16px;
}
#workspaces button:hover {
  background: #bb9af7;
  color: #1a1b26;
}

#network.disconnected,
#battery.discharging,
#battery.charging {
  color: #ff9e64;
}
#battery.critical:not(.charging) {
  color: #f7768e;
}

.warning,
.critical,
.urgent {
  animation-name: blink_red;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes blink_red {
  to {
    background-color: #f7768e;
    color: #1a1b26;
  }
}
